@import "@linkebonn/solid-ui/dist/solid-ui.css";

body {
  margin: unset;
}

.container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
  @media screen and (min-width: 600px) {
    padding: 25px;
  }
}

.linke-notification {
  color: white;
  border-radius: .2em;
  border: .2em solid;
  padding: 1em;

  &.success {
    background-color: var(--secondary-green-full);
  border-color: var(--primary-green-full);
  }

  &.info {
    background-color: var(--secondary-blue-full);
    border-color: var(--primary-blue-full);
  }

  &.error {
    background-color: var(--primary-red-full);
    border-color: var(--secondary-red-full);
  }
}
